<%- include('layouts/index/head', { title: '首页' }); %>
    <style>
        .article {
            background-color: rgba(255,255,255,.9);
            padding: 20px;
        }

        .article .media-object {
            width: 200px;
        }
    </style>
    <div class="container content">

        <% list.forEach(item => { %>
            <div class="media article">
                <div class="media-left">
                    <a href="/detail/<%=item._id%>">
                        <img class="media-object" src="<%=item.cover %>" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/detail/<%=item._id%>"><%=item.title%></a></h4>
                    <p>发布时间：<%= item.pubdate %></p>
                    <%= item.desc %>
                </div>
            </div>
        <% }) %>
        <div id="page"></div>
        <script src="/static/jquery/jquery.paging.js"></script>
        <script>
            <% if(count > 4) { %>
            $("#page").paging({
                pageNum: <%= currentPage %>, // 当前页面
                totalNum: <%= Math.ceil(count / 4) %>, // 总页码
                totalList: <%= count %>, // 记录总数量
                callback: function (num) { //回调函数
                    location.href = '?page='+num
                }
            });
            <% } else {%>
                $('#page').hide();
            <%}%>
        </script>
    </div>
    <%- include('layouts/index/foot'); %>