<%- include('layouts/index/head', { title: '首页' }); %>
    <style>
        .article {
            background-color: rgba(255,255,255,.9);
            padding: 20px;
        }

        .article .media-object {
            width: 200px;
        }
    </style>
    <div class="container content">

        <% list.forEach(item => { %>
            <div class="media article">
                <div class="media-left">
                    <a href="/detail/<%=item._id%>">
                        <img class="media-object" src="<%=item.cover %>" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/detail/<%=item._id%>"><%=item.title%></a></h4>
                    <%= item.desc %>
                </div>
            </div>
        <% }) %>

        <!-- <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav> -->
    </div>
    <%- include('layouts/index/foot'); %>